 <section>
  <a href="/dashboard">Return to Dashboard</a>
      <div>
        <h2> {{character.characters_name}}</h2>
        <p>Posted by: {{character.user.username}}</p>
        <p> {{character.genre}}</p>
        <p>{{character.companion}}</p>
        <p>{{character.background}}</p>
        <p>{{character.age}}</p>
        <p>{{character.story_role}}</p>
        <p>{{character.goal}}</p>
        <p>{{character.secret}}</p>
      </div>
    
  </section>